<!DOCTYPE html>
<html lang="pt-BR"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/styleCad.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a th:href="@{/principal}">Início</a></li>
      </ul>
	</div>
  </nav>
  
  <div class="container">
    <div class="section">
    	
    	<div class="card-content  red lighten-1">
    		<p class="pdetalhes">[ Cadastro de Pessoas ]</p>
    	</div>
    	<div class="card-content grey lighten-4">
			<form id="formPessoa" class="formPessoa" action="salvarpessoa" method="post" th:object="${objpessoa}">
				
				<div class="row">
					<div class="input-field col s3">
						<label for="id">ID:</label>
						<input type="text" id="id" th:field="*{id}" readonly="readonly">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="nome">Nome:</label>
						<input type="text" id="nome" name="nome" th:field="*{nome}" placeholder="Digite seu nome"
						required="required">
					</div>
					
					<div class="input-field col s6">
						<label for="sobrenome">Sobrenome:</label>
						<input type="text" id="sobrenome" name="sobrenome" th:field="*{sobrenome}" 
							placeholder="Digite seu sobrenome" required="required">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="idade">Idade:</label>
						<input type="text" id="idade" name="idade" th:field="*{idade}" placeholder="Digite sua idade"
							required="required">
					</div>
				</div>
				
				<div class="row">
					<button class="btn waves-effect waves-light blue darken-3" type="submit"
						onclick="document.getElementById('formPessoa').reset();">Novo
					   <i class="material-icons right">autorenew</i>
					</button>
					
					<button class="btn waves-effect waves-light green accent-3" type="submit" name="salvar">Salvar
					   <i class="material-icons right">save</i>
					</button>
					
					<a class="waves-effect waves-light btn red right"
						href="/listapessoas">
						<i class="material-icons right">list</i>Lista Pessoas</a>
				</div>
			</form>
		</div>
		
		<div class="card-content grey lighten-4">
			<form class="formPesquisa" action="pesquisarpessoa" method="post">
				
				<div class="row">
					<div class="input-field col s6">
						<label for="pesquisanome">Pesquisa por nome:</label>
						<input type="text" id="pesquisanome" name="nomepesquisa">
					</div>
					
					<div class="input-field col s6">
						<button class="btn waves-effect waves-light teal lighten-1" type="submit">Buscar
						   <i class="material-icons right">search</i>
						</button>
					</div>
				</div>
			</form>
		</div>
		
		<div class="card-content grey lighten-4">
			<table id="table-1" class="tabelaPessoa">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Idade</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pessoa : ${pessoas}">
						<th th:text="${pessoa.id}"></th>
						<th><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></th>
						<th th:text="${pessoa.sobrenome}"></th>
						<th th:text="${pessoa.idade}"></th>
						<th>
							<a class="btn-floating  waves-effect waves-light amber lighten-1"
							th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">
							<i class="material-icons right">edit</i></a>
						</th>
						<th>
							<a class="btn-floating  waves-effect waves-light red"
							th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">
							<i class="material-icons right">delete_forever</i></a>
						</th>
					</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
    	
    </div>
  </div>
      
  <footer class="page-footer  light-blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ArfaxTechSoft</h5>
          <p class="grey-text text-lighten-4">Projeto desenvolvido usando as principais tecnologias do mercado. Spring Boot - Thymeleaf - Material Design Lite</p>
		</div>
	  </div>
	</div>

    <div class="footer-copyright">
      <div class="container">
      	Desenvolvido por Leandro Amorim
      	<a class="orange-text text-lighten-3" href="https://github.com/lheanndroaluno/spring-boot-ats.git"> 
      	Acesse meu GitHub para ver o código.</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/init.js"></script>

  </body>
</html>
