<!DOCTYPE html>
<html lang="pt-BR"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/styleCad.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn waves-effect waves-light red lighten-1" href="/cadastropessoa">Cadastro Pessoa</a></li>
      </ul>
	</div>
  </nav>
  
  
  <div class="container">
    <div class="section">
    	
    	<div class="card-content  red lighten-1">
    		<p class="pdetalhes">[ Detalhes da Pessoa ]</p>
    	</div>
    	<div class="card-content grey lighten-4">
    		<div class="detalhes" th:each="p : ${objpessoa}">
    			<p>ID : <span th:text="${p.id}"></span></p>
    			<p>Nome : <span th:text="${p.nome}"></span></p>
    			<p>Sobrenome : <span th:text="${p.sobrenome}"></span></p>
    			<p>Idade : <span th:text="${p.idade}"></span></p>
    		</div>
    	</div>
    	
    </div>
  </div>	
      
  <footer class="page-footer light-blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ArfaxTechSoft</h5>
          <p class="grey-text text-lighten-4">Projeto desenvolvido usando as principais tecnologias do mercado. Spring Boot - Thymeleaf - Material Design Lite</p>
		</div>
	  </div>
	</div>

    <div class="footer-copyright">
      <div class="container">
      	Desenvolvido por Leandro Amorim
      	<a class="orange-text text-lighten-3" href="https://github.com/lheanndroaluno/spring-boot-ats.git"> 
      	Acesse meu GitHub para ver o código.</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/init.js"></script>

  </body>
</html>
