@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.formPessoa{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
	font-size: 18px;
}

.tabelaPessoa{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.formPesquisa{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.detalhes{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.pdetalhes{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.espaco{
	height: 10px;
	margin-top: 20px;
	margin-bottom: 20pc;
	padding: 10px;
	font-size: 16px;
}

.formTelefone{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
	font-size: 18px;
}

.tabelaTelefone{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.login{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
	font-size: 18px;
}

