<!DOCTYPE html>
<html lang="pt-BR"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

    <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
	<li><a href="/cadastropessoa">Pessoa</a></li>
	<li><a href="#!">two</a></li>
	<li><a href="#!">three</a></li>
  </ul>
  <nav>
	<div class="nav-wrapper light-blue lighten-1">
	  <div class="nav-wrapper container">
	    <a href="#!" class="brand-logo container">Logo</a>
	    <ul class="right hide-on-med-and-down">
	       <!-- Dropdown Trigger -->
	      <li>
	      	<a class="dropdown-trigger" href="#!" data-target="dropdown1">Cadastros
	      		<i class="material-icons right">arrow_drop_down</i>
	      	</a>
	      </li>
	      <li><a href="sass.html">Sass</a></li>
	      <li><a href="/logout">Sair</a></li>
	    </ul>
	  </div>
	</div>
  </nav>
  
  <!-- Parte central da página -->
  <div class="container">
    <div class="section">
    
    	<h1>Página Principal</h1>
    
    </div>
  </div>
	
  <footer class="page-footer light-blue darken-1">
    <div class="footer-copyright">
      <div class="container">
      	Desenvolvido por Leandro Amorim
      	<a class="orange-text text-lighten-3" href="https://github.com/lheanndroaluno/spring-boot-ats.git"> 
      	Acesse meu GitHub para ver o código.</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script>
  	$(".dropdown-trigger").dropdown();

  </script>

  </body>
</html>
